/* Futura New */

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewLight-Obl.eot');
   src: local('Futura New Light Obl'), local('FuturaNewLight-Obl'),
      url('../fonts/FuturaNew/FuturaNewLight-Obl.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewLight-Obl.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewLight-Obl.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewLight-Obl.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewLight-Reg.eot');
   src: local('Futura New Light Reg'), local('FuturaNewLight-Reg'),
      url('../fonts/FuturaNew/FuturaNewLight-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewLight-Reg.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewLight-Reg.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewLight-Reg.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Futura New';
   src: local('Futura New Book Reg'), local('Futura-New-Book-Reg'),
      url('../fonts/FuturaNew/FuturaNewBook-Reg.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewBook-Reg.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewBook-Reg.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewMedium-Obl.eot');
   src: local('Futura New Medium Obl'), local('FuturaNewMedium-Obl'),
      url('../fonts/FuturaNew/FuturaNewMedium-Obl.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewMedium-Obl.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewMedium-Obl.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewMedium-Obl.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
}


@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewMedium-Reg.eot');
   src: local('Futura New Medium Reg'), local('FuturaNewMedium-Reg'),
      url('../fonts/FuturaNew/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewMedium-Reg.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewMedium-Reg.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewMedium-Reg.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewBold-Obl.eot');
   src: local('Futura New Bold Obl'), local('FuturaNewBold-Obl'),
      url('../fonts/FuturaNew/FuturaNewBold-Obl.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewBold-Obl.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewBold-Obl.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewBold-Obl.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewBold-Reg.eot');
   src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'),
      url('../fonts/FuturaNew/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewBold-Reg.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewBold-Reg.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewBold-Reg.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewExtraBold-Obl.eot');
   src: local('Futura New ExtraBold Obl'), local('FuturaNewExtraBold-Obl'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Obl.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Obl.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Obl.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Obl.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewExtraBold-Reg.eot');
   src: local('Futura New ExtraBold Reg'), local('FuturaNewExtraBold-Reg'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Reg.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Reg.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewExtraBold-Reg.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewHeavy-Obl.eot');
   src: local('Futura New Heavy Obl'), local('FuturaNewHeavy-Obl'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Obl.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Obl.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Obl.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Obl.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
}

@font-face {
   font-family: 'Futura New';
   src: url('../fonts/FuturaNew/FuturaNewHeavy-Reg.eot');
   src: local('Futura New Heavy Reg'), local('FuturaNewHeavy-Reg'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Reg.woff2') format('woff2'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Reg.woff') format('woff'),
      url('../fonts/FuturaNew/FuturaNewHeavy-Reg.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}