@import './fonts.scss';
@import './components/header.scss';

body {
   // background: url('@img/girl.jpg') no-repeat center;
   h1 {
      font-family: 'Futura New', sans-serif;
      font-weight: 400;
      color: blue;
   }
}

@media all and (max-width: 768px) {
   body { background: cadetblue; }
}

@media all and (max-width: 768px) {
   h1 { font-size: 20px; }
}